.header {
    width: 100vw;
    color: black;
    background-color: white;
    text-align: center;
    padding: 2px 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}